<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Bargain Books</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default bg-dark">

    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Bargain Books</p>
      </div>
      <ul class="nav navbar-nav navbar-right ">
        <!-- 6 -->
        <li id="home"><a href="/home">HOME</a></li>
        <li id="about"><a href="/sell">SELL</a></li>
        <li id="contact"><a href="/contact">CONTACT US</a></li>
        <li>
          <nav class="navbar navbar-light bg-light">
            <form class="form-inline" action="/search" method="post">
              <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search..." aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </nav>
        </li>
      </ul>
    </div>
  </nav>

<body>
  <div class="container">
