<%- include("partials/header") -%>
<h1>Contact Us</h1>
<h3>Please contact us for any queries</h3>
<div class="grid-container">
  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://media-exp1.licdn.com/dms/image/C5603AQH-b70xFl4GZw/profile-displayphoto-shrink_200_200/0/1590405864150?e=1611792000&v=beta&t=kZcsLjs44rn6e1u8ayCCmr54LPcaXIoXBviMg5ivxuA" alt="img" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Harshwardhan Chougule</h1>
      <p>CSE Student, PCCOE</p>
      <p>9049451009</p>
    </div>
  </div>
</div>
<div class="flip-card">
<div class="flip-card-inner">
  <div class="flip-card-front">
    <img src="https://media-exp1.licdn.com/dms/image/C5603AQG_E2ajzKC3nw/profile-displayphoto-shrink_200_200/0?e=1611792000&v=beta&t=Wafc0SnaWhUPYsf6UAo_muX4VNwb-tQy7PFdO6e_B60" alt="Avatar" style="width:300px;height:300px;">
  </div>
  <div class="flip-card-back">
    <h1>Yash Bhandari</h1>
    <p>CSE Student, PCCOE</p>
    <p>8049451009</p>
  </div>
</div>
</div>
<div class="flip-card">
<div class="flip-card-inner">
  <div class="flip-card-front">
    <img src="https://media-exp1.licdn.com/dms/image/C5103AQE5-V1IGaJl_w/profile-displayphoto-shrink_200_200/0?e=1611792000&v=beta&t=AJX_RZipJL8MoDgmfZwziTWcPnntqfrLokn6ji3M3zo" alt="Avatar" style="width:300px;height:300px;">
  </div>
  <div class="flip-card-back">
    <h1>Sunny Dhadiwal</h1>
    <p>CSE Student, PCCOE</p>
    <p>7049451009</p>
  </div>
</div>
</div>
</div>

<%- include("partials/footer") -%>
